# Code Analysis
.dccache

# Debugging
*.log

# Dependencies
node_modules/

# Dependency Management
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
package-lock.json

# Editor Configs
.vscode/

# Testing
.nyc_output/
coverage/

# Misc
.DS_Store